body
{
    background-color: black;
    color: white;
}

.navbar{
    /* background-color: black; */
    display: flex;
    justify-content: flex-end; /* Nav Items to right*/ 
    border-radius: 30px;
    
}

.navbar ul{
    overflow: auto;
}
.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
    
}
.navbar li a{
    padding: 4px 4px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: red
}

.details
{
    margin-left:8%;
    margin-top : 18%;
}

.name
{
    color:#213e71;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.socials{
    padding-top: 4%;
}
.socials span{
    padding: 50px 20px 50px 20px; /* top right bottom left; (moving clockwise) */
    }